/*------------------*
 * Vendor overrides *
 *------------------*/

.dropdown-menu-lg {
    font-size: 18px;
    cursor: pointer;
}

.dropdown-menu-lg li a {
	font-size: 18px;
}

.panel-default {
    border-color: #ccc;
}

.panel-default>.panel-heading {
    border-color: #ccc;
}

label {
    font-weight: normal;
    margin-bottom: 0;
}

.jumbotron {
    background-color: transparent;
}

.fancybox-wrap {
    max-width: 60%;
}
.fancybox-inner {
	height: auto !important;
	width: auto !important;
}

/*-------------------------*
 * End of vendor overrides *
 *-------------------------*/

body {
    background-color: #e5e5e5;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.site-container {
    display: block;
    width: 900px;
    text-align: center;
    margin: 0 auto;
}

p, input, label, li, a{
    font-size: 21px;
}

h3 {
    margin: 20px 0 15px;
}

::-webkit-file-upload-button { cursor:pointer; }
input[type="file"] {
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}

.panel-heading > h3 {
    line-height: 30px;
    display: inline;
    vertical-align: top;
}

.panel-heading > h3 > .glyphicon {
    font-size: 30px;
    vertical-align: middle;
    margin-left: 8px;
}

.fancyboxd {
    display: none;
    padding: 20px 15px;
    text-align: center;
}

.fancyboxd p {
	font-size: 18px;
}

.fancyboxd > *:first-child {
    margin-top: 0;
    padding-top: 0;
}

.fancyboxd > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.error {
    color: rgb(181, 22, 22);
}

.success {
    color: rgb(34, 116, 0);
}

input[type="text"] {
    display: inline-block;
}

.anecdote {
    font-size: 14px;
    display: inline-block;
}

/*-----------------*
 * MusicXML widget *
 *-----------------*/

music-xml .options label{
    width: 370px;
    margin-right: 20px;
    text-align: right;
    font-size: 18px;
}
music-xml .options input {
    margin-right: 200px;
}

/*-----------------------*/
/* DiatonicScale styling */
/*-----------------------*/

diatonic-scale {
    display: block;
    margin-top: 40px;
}

#tonic {
    width: 75px;
}

#custom-mode-name
    , #custom-mode-pattern {
    
    width: 200px;
}

#mode-dropdown > button:first-child{
    width: 175px;
}
#mode-dropdown > button:first-child:hover {
    cursor: default !important;
}

/* couldn't think of anything semantically correct - so I settled on this */
#add-custom-mode-trigger {
    margin-left: 20px;
    font-size: 18px;
}

.form-row {
    padding-top: 30px;
}

.form-row:last-child {
    padding-bottom: 30px;
}

.form-row > label {
    margin-right: 20px;
    max-width: 200px;
    vertical-align: middle;
}

.panel-heading > h3{
    margin: 0;
    padding: 0;
}

.diatonic-scale > li {
    display: inline-block;
    margin: 0 4px;
    font-size: 18px;
    border-radius: 6px;
    width: 75px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    vertical-align: top;
}

.diatonic-scale > li.note {
    color: white;
    background-color: #3073AC; /* blue */
}

.diatonic-scale  > li.note.active {
	background-color: #78A1C5; /* light blue */
}

.diatonic-scale > li.play > .glyphicon {
    color: black;
    font-size: 40px;
    position: relative;
    top: 10px;
}

.glyphicon:hover {
    color: darkgrey !important;
    cursor: pointer;
}
