<div class="panel panel-default">
    
  <div class="panel-heading">
    <h3>Diatonic Scale Widget <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></h3>
  </div>
  
  <div class="panel-body">
    <!-- Split button -->
    
    <div class="form-row">
        <div class="btn-group btn-group-lg" id="mode-dropdown">
          <button type="button" class="btn btn-default "> {{ curMode.Name }} </button>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          
          <ul class="dropdown-menu dropdown-menu-lg" role="menu">
            <li ng-repeat="mode in modes">
                <a ng-click="changeMode(mode)">{{ mode.Name }}</a>
            </li>
          </ul>
          
        </div>
        
        <a id="add-custom-mode-trigger" href="#add-custom-mode" class="fancybox-trigger">Add Custom Mode</a>
    </div>
    
    <div class="form-row">
        <label for="tonic">Tonic</label>
        <input id="tonic" type="text" maxlength="2" class="form-control input-lg" ng-model="tonic">
    </div>
    
    <div class="form-row">
        <button type="button" class="btn btn-primary btn-lg" ng-click="modifyScale()">Submit</button>
    </div>
    
    <div class="form-row">
        <h3>Resulting diatonic scale</h3>
        <ul class="diatonic-scale cf">
            <li ng-class="{ active: note.active }" class="note" ng-repeat="note in diatonicScale">
                {{ note.Name }}
            </li>
            <li class="play">
                <span ng-click="playScale()" class="glyphicon glyphicon-play-circle"></span>
            </li>
        </ul>
    </div>
    
  </div>
  
</div>

<div id="add-custom-mode" class="fancyboxd">
    <h2>Add a custom mode</h2>
    
    <div ng-if="customModeErrors.length > 0" class="form-row">
        <ul class="error" ng-repeat="error in customModeErrors">
            <li>{{ error }}</li>
        </ul>
    </div>
    <div ng-if="customModeSuccess" class="form-row">
        <p class="success">{{ customModeSuccess }}</p>
    </div>
    <div class="form-row">
        <label for="custom-mode-name">Mode Name</label>
        <input id="custom-mode-name" type="text" maxlength="12" class="form-control input-lg" ng-model="customModeName">
    </div>
    <div class="form-row">
        <label for="custom-mode-pattern">Mode Pattern<span class="anecdote">Must contain two half steps and five whole steps in the format 2121222</span></label>
        <input id="custom-mode-pattern" type="text" maxlength="7" class="form-control input-lg" ng-model="customModePattern">
    </div>
    <div class="form-row">
        <button class="submit" type="button" class="btn btn-primary btn-lg" ng-click="addCustomMode()">Submit</button>
    </div>
</div>
<div class="fancyboxd info">
    <h2>What is this?</h2>
    <p>
        This widget lets you play around with different tonics and modes to see what the resulting diatonic scale looks like.  I only made it because the functionality was required
        in order to insert scale degrees given different chord symbols - and because I found it interesting.
    </p>
    <h3>A personal rambling</h3>
    <p>
        If you've ever learned to read music, you might know that all of the common modes will follow the same key signature flat/sharp pattern (BEADGCF and FCGDAEB) because they are all an 
        offset of Ionion mode.  So what happens when you re-order the whole/half step pattern?  For example, try adding the pattern 
        2,1,2,1,2,2,2 and name it "Panda".  You'll notice Panda mode no longer follows the flat/sharp pattern.  This is just one way to create some funky sounding scales when
        compared to the traditional Ionian/Aeolian sounds we're trained to hear.  There are plenty more ways to tamper with the fundamentals in western music and create something blasphemous.
    </p>
</span>
