<div class="panel panel-default">
    
  <div class="panel-heading">
    <h3>Diatonic Scale Widget</h3>
  </div>
  
  <div class="panel-body">
    <!-- Split button -->
    <div class="btn-group btn-group-lg form-row" id="mode-dropdown">
      <button type="button" class="btn btn-default "> {{ curMode.Name }} </button>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      
      <ul class="dropdown-menu dropdown-menu-lg" role="menu">
        <li ng-repeat="mode in modes">
            <a ng-click="changeMode(mode)">{{ mode.Name }}</a>
        </li>
      </ul>
      
    </div>
    
    <div class="form-row">
        <label for="tonic">Tonic</label>
        <input id="tonic" type="text" maxlength="2" class="form-control input-lg" ng-model="tonic">
    </div>
    
    <div class="form-row">
        <button type="button" class="btn btn-primary btn-lg" ng-click="modifyScale()">Submit</button>
    </div>
    
    <div class="form-row">
        <h3>Resulting diatonic scale</h3>
        <ul class="diatonic-scale cf">
            <li ng-repeat="note in diatonicScale">
                {{ note }}
            </li>
        </ul>
    </div>
    
  </div>
  
</div>
